<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--保证接口和映射文件一一对应  -->
<mapper namespace="bs.qch.budding.mapper.UserMapper">

    <insert id="saveUser">
        insert into user(username, password, status)
        values(
        #{username},
        #{password},
        #{status}
        )
    </insert>

    <select id="findUser" resultType="string">
        select user_id from user where username=#{username} and password=#{password}

    </select>

    <select id="queryUserByUsername" resultType="string">
        select user_id from user where username=#{username}
    </select>
</mapper>
